<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <title>WebSocket Client</title>
        {{> common_css}}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>WebSocket Client</h1>
            </div>
            <div class="row">
                <h2>Your ID: <span id="ws-id"></span></h2>
            </div>
            <div class="row">
                <ul id='messages' class='list-group'>
                </ul>
            </div
        </div>
        <script>
            var client_id = "{{client_id}}"
            document.querySelector("#ws-id").textContent = client_id;
            var ws = new WebSocket(`ws://localhost:8000/ws/${client_id}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                message.className = 'list-group-item'
                var message = document.createElement('pre')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
        {{> common_js}}
    </body>
</html>
